/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header,
    nav,
    main,
    footer {
        /* max-width: 180rem; */
        margin: auto;
    }

    /*----------- BODY --------------*/



    /*----------- HEADER --------------*/



    /*----------- NAVIGATION --------------*/



    /*----------- MAIN --------------*/


    /*----------- FOOTER --------------*/

#banner {
    position: absolute;
    top: 38rem;
    left: 1rem;

}

#welcome {
    position: absolute;
    top: 35rem;
    left: 1rem;
}

.card {
    max-height: 55rem;
}

 .lil-card {
     max-height: 32rem;
 }
}
/* end of media query */