/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

header {
    background-color: palegreen;
    padding: 1.5rem;
}

header span {
    text-align: left;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
}

main {
    max-width: 800px;
    margin: 0 auto;
}


figure {
    background-color: #fff;
}

img {
    width: 100%;
    height: auto;
    margin: 0.5rem;
}

figcaption {
    font-size: smaller;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❎";
}


.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    background-color: lightgreen;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-weight: 700;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

.stdlf {
    font-weight: 700;
    border-bottom: 1px solid #777;
    margin-bottom: 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    place-items: center;
}

